header > h1 {
  margin-block-end: 0;
  line-height: 1.1;
  letter-spacing: -0.05rem;
}

header > p {
  margin: 0;
  line-height: 1.05;
}

main {
  margin-block-start: 2rem;
}

article + article {
  margin-block-start: 4rem;
}

article header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

article h2 {
  margin-bottom: 0;
}

article header > time {
  font-style: italic;
  color: var(--purple-600);
  font-size: 0.9rem;
  white-space: nowrap;
  padding-inline-start: 2ch;
}
