@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

:root {
  --purple-100: hsl(300, 10, 99);
  --purple-200: hsl(300, 10, 85);
  --purple-300: hsl(300, 10, 73);
  --purple-400: hsl(300, 10, 61);
  --purple-500: hsl(300, 10, 50);
  --purple-600: hsl(300, 10, 43);
  --purple-700: hsl(300, 10, 35);
  --purple-800: hsl(300, 10, 26);
  --purple-900: hsl(300, 10, 14);
}

body {
  font-family: Quicksand, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 60ch;
}
