<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Sam Bigelow" />
    <meta property="og:type" content="Personal Blog" />
    <!-- <meta property="og:url" content="" /> -->
    <!-- <meta property="og:image" content="" /> -->

    <!-- <link rel="manifest" href="site.webmanifest" /> -->
    <!-- <link rel="apple-touch-icon" href="icon.png" /> -->
    <!-- Place favicon.ico in the root directory -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />
    {% for stylesheet in stylesheets %}
      <link rel="stylesheet" href="css/{{ stylesheet }}" />
    {% endfor %}

    <title>Sam Bigelow{% if title %} | {{ title }}{% endif %}</title>
  </head>
  <body>
    <main class="content">
    {{ content | safe }}
    </main>
  </body>
</html>
