---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
stylesheets: ['index.css']
---
<header>
  <h1>I make websites!</h1>
</header>

<main>
  {% for post in posts %}
    <article>
      <header>
        <h2>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h2>
        <time datetime="{{ post.date | dateIso }}">
          {{ post.date | dateReadable }}
        </time>
      </header>
      {% excerpt post %}
    </article>
  {% endfor %}
</main>
<br />
<aside>
  <a href="/blogs-i-want-to-write">Blog Post Ideas</a>
</aside>
