---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
stylesheets: ['index.css']
---
<div class="container">
  <header>
    <h1>Sam Bigelow</h1>
    <p>I make things!</p>
  </header>

  <main>
    {% for post in posts %}
      <article>
        <header>
          <h1>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          </h1>
          <time datetime="{{ post.date | dateIso }}">
            {{ post.date | dateReadable }}
          </time>
        </header>
        {% excerpt post %}
      </article>
    {% endfor %}
  </main>
  <br />
  <a href="/blogs-i-want-to-write">Blog Post Ideas</a>
</div>
