---
layout: base-layout.njk
---
<h1>Things I still need to do on this site</h1>
<ul>
	<li>Style it</li>
	<li>Write an "About" page</li>
	<li>Add a super brief "Who am I?" section on the home page</li>
	<li>Add a byline "I make websites!" or "I make things!"</li>
	<li>Add a blog post ideas list page</li>
</ul>