---
layout: head.njk
nav_links:
  - name: "Home"
    url: "/"
  - name: "Todos"
    url: "/todos/"
  - name: "About"
    url: "/about/"
---
<nav>
	{% for link in nav_links %}
		{% if link.url == page.url %}
			{{ link.name }}
		{% else %}
			<a href="{{ link.url }}">{{ link.name }}</a>
		{% endif %}
	{% endfor %}
</nav>
<main>{{ content | safe }}</main>