---
layout: head.njk
nav_links:
  - name: "Home"
    url: "/"
  - name: "Todos"
    url: "/todos/"
  - name: "About"
    url: "/about/"
---

<div class="nav-container">
	<div class="container">
		<nav>
			<h2>Sam Bigelow</h2>
			<ul>
				{% for link in nav_links %}
					<li>
						{% if link.url == page.url %}
							<span>{{ link.name }}</span>
						{% else %}

							<a href="{{ link.url }}">{{ link.name }}</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>
<div class="container">
	{{ content | safe }}
</div>